body {
	font-family: sans-serif;
	padding: 20px;
}
#tree {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	background: #f5f5f5;
	max-height: 525px;
	overflow: auto;
}
ul {
	list-style-type: none;
	padding-left: 20px;
}
li {
	margin: 4px 0;
	cursor: default;
}
#folder-path {
    margin-left: 15px; 
    font-style: italic; 
    color: #555;
    font-size: 12.5px;
}
#info-panel {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	background: #ffffff;
	border-left: 1px solid #ccc;
	padding: 20px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	transition: transform 0.3s ease;
}
#info-panel.hidden {
	transform: translateX(100%);
}
#info-panel h2 {
	margin-top: 0;
}
